.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.library-app
{
  display:grid;
  justify-content: center;
  align-items: center;
  height:50vh;
}
.book-grid
{
  display:grid;
grid-template-columns: repeat(3,1fr);  
gap:20px;
}

.book-card
{
  border:1px solid black;
  padding:20px;
  background-color: #f5f5f5;
  border-radius:5px;
}
.book-image
{
  max-width:100px;
  height:auto;
  margin-bottom:10px;
}
